body, html {
  height: 100%;
  margin: 0;
  font-family: "Arial";
}
* {
  box-sizing: border-box;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.bg-image {

  background-image: url("background2.jpg");
  filter: blur(8px);
  -webkit-filter: blur(5px);
 height: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  color:white;
  display:flex;
  flex-wrap: wrap;
  position: absolute;
  top: 60%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 50px;
  text-align: left;
}

.box-1{
  padding: 30px;
    word-spacing: 1em;
  font-weight:bolder;
	font-style:italic;
	letter-spacing: 0.5em;
	text-decoration:underline;
  flex:2;
  order:1;
}

.box-2{
  padding:30px;
  word-spacing: 1em;
  font-weight:bolder;
	font-style:italic;
	letter-spacing: 0.2em;
  flex:2;
  order:2;
}

.box-1:hover, .box-2:hover{
  background-image: linear-gradient(to top, #72c0e3, rgba(139, 133, 133,0.5));
  border:2px solid black;
  transition: 1s;
}

.header{
  display: flex;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 50px;
  justify-content: center;
}
.header img{
  width:50%;
  height:auto;

}
.contact {
  color: white;
  font-weight: bold;
  position: absolute;
  top:20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width:90%;
  padding:75px;

}

.contact #sm-logos a{
text-decoration: none;

}


.contact #sm-logos i{
	color:#fff;
	font-size: 20px;
	padding: 0px 40px;
}

.footer {
  color: black;
  font-weight: bold;
  position: absolute;
  top:2000px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  width:90%;
  padding:0px;
  margin: 40px;
}

.footer #sm-logos i{
	color:#000;
	font-size: 30px;
	padding: 0px 40px;
}




.me-info{
max-height:100%;
display:flex;
margin: 100px 60px;
padding: 50px 60px;
text-align: center;
border: 15px double #72c0e3;

}

.me-pic{
flex:1;

}
.me-pic img{
height:500px;
width:auto;
padding: 0px ;
margin: 0px ;

}

.me-desc{
flex:2;
padding: 0px 30px;
margin: 20px 0px;

}

.me-desc p{
font-size: 24px;	
font-weight:bold;
word-spacing: 0.5em;
letter-spacing: 0.05em;
}
.me-desc h1{
font-weight:bolder;
word-spacing: 1em;
font-style:italic;
letter-spacing: 0.2em;
text-decoration:underline;
}

 .projects{

  max-width: 100%;
  position: relative;
  margin: 25px 0px;
  padding: 20px 0px;
  background-image: linear-gradient(to bottom, #fff, #72c0e3, #fff);
 height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.projects h1, h3{
	text-align: center;
	font-weight:bold;
word-spacing: 1em;
font-style:italic;
letter-spacing: 0.2em;
text-decoration:underline;
}

.proj {
  display: none;
}

.proj img{
  display:block;
  margin-right: auto;
  margin-left: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text a {
  color: black;
  padding: 8px 50px;
  position: absolute;
  width: 90%;
  text-align: center;
}

.text a{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 35px;
  text-decoration: none;
  display:block;
  margin-left: auto;
margin-right: auto;
}
