@font-face {
  font-family: font1;
  src: url('../fonts/NotoSansKR-Black.otf');
}
@font-face {
  font-family: font2;
  src: url('../fonts/Nunito-Regular.ttf');
}
@font-face {
  font-family: font3;
  src: url('../fonts/Nunito-Bold.ttf');
}
@font-face {
}

body{
    background-color: #2b2e4a;
}

.header{
  width: 50%;
  height: 10vh;
  color: white;
  border-radius:  0 0  0 18rem;
  background:#903749;
  margin-bottom: 2rem;
  display: flex;
  float: right;
  align-items: center;
  flex-direction: row;
  align-self: flex-end;
  justify-content:space-between;
  font-family: font1;
  margin-left: 1rem;
}

.header p{
  padding: 0 1rem .1rem 1rem;
  font-family: font1;
  font-size: 1rem;
  margin-left: 1.6rem;
  letter-spacing: .1rem;
}

.form{
    width: 470px;
    height: 500px;
    background: white;
    color:black;
    top: 50%;
    left: 50%;
    margin-top: 8px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    padding-top: 50px;
}

h1{
  padding: 0;
  margin-bottom: 70px;
  text-align: center;
  color: white;
  background:  #e84545;
}

form p{
   color:rgba(0, 0, 0, 0.8);
   font-family: font3;
   font-size: 1.2rem;
   margin: 0 0 .5rem 0;
}

form input{
  width: 30vw;
  height: 5vh;
  margin: 0 0 2rem 0;
  outline: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 .1rem 0 0;
  font-family: font3;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.submit{
  margin-left: 130px;
  width: 10vw;
  height: 6vh;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background: #045757;
  margin-bottom: .2rem;
  font-size: 1rem;
  color: white;
}



